@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Sofia+Sans+Semi+Condensed:ital,wght@1,800;1,900&family=Tilt+Prism&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-family: "Tilt Prism", cursive;
  font-family: "Ubuntu", sans-serif;
}

/* Header start */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 30px;
}
.header_logo {
  cursor: pointer;
}
.header_ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-weight: 700;
  font-size: 1.1rem;
}
.header_li:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}
.header_addToCart {
  position: relative;
  display: flex;
  gap: 30px;
  font-size: 1.6rem;
  cursor: pointer;
}
.fa-solid:hover {
  color: red;
  transition: 0.3s;
}

sup {
  top: -9px;
  right: -9px;
  position: absolute;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 4px 7px;
  border-radius: 1000px;
}
sup:hover {
  top: -14px;
  transition: 1s;
}
.bars_menu {
  display: none;
}

/* Header end */

/* Slide start */
.container {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
}
.slide_first {
  width: 100%;
}
.btn {
  width: 50px;
  height: 100px;
  font-size: 1.4rem;
  color: white;
  background-color: rgba(128, 128, 128, 0.616);
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: white;
  transition: 0.6s;
}
.prew {
  position: absolute;
}
.next {
  position: absolute;
  right: 0;
}
/* Slide end */

/* categories box start */
.categoriBoxSection {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}
.categoriBox {
  position: relative;
  display: flex;
  justify-content: center;
  
  
}
.categoriBoxWordItems {
  bottom: 0;
  position: absolute;
  text-align: center;
}
.categoriBoxTitle {
  color: white;
  margin-bottom: 20px;
}
.categoriBoxContent {
  display: none;
  margin-left: 40px;
  width: 80px;
  margin-bottom: 40px;
  
  padding-bottom: 5px;
  color: rgb(241, 229, 158);
  border-bottom: 2px solid rgb(241, 229, 158);
}

/* categories box end */

/* Responsive start */
@media only screen and (max-width: 900px) {
  /* Header start */

  .header_menu {
    display: none;
  }
  .container {
    width: 900px;
  }

  .header_logoSection {
    margin-right: 100px;
  }
  .bars_menu {
    display: block;
    font-size: 2rem;
  }

  @media only screen and (max-width: 600px) {
    .header_addToCart {
      display: none;
    }
  }

  /* Header end */
}
